.settings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  li {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
}
