/* hide the default shaded region */
:global(#qr-shaded-region) {
  display: none !important;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.shaded-region {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 20px;
  outline: 100vw solid rgba(0, 0, 0, 0.48);
}
