/* Video w/ Css Animation: https://www.youtube.com/watch?v=W9XEARppU8s */
.qrRegion::after {
  content: '';
  width: 70%;
  height: 2px;
  background: #00ff00;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: animateLine 4s ease-in-out infinite;
}

@keyframes animateLine {
  0% {
    top: 20%;
  }
  50% {
    top: calc(100% - 20%);
  }
  100% {
    top: 20%;
  }
}
