name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run linters
        run: npm run lint

      - name: Run tests
        run: npm test -- --watchAll=false

      - name: Build the app
        run: npm run build

      - name: Run Lighthouse CI
        id: lhci
        run: |
          npm install -g @lhci/cli@0.12.x
          lhci_output=$(lhci autorun)
          echo "$lhci_output"
          url=$(echo "$lhci_output" | grep -o "https://.\+")
          echo "Found storage url: <$url>"
          echo "report_url=$url" >> $GITHUB_OUTPUT

      - name: Save data needed by the Lighthouse workflow
        if: github.event_name == 'pull_request'
        run: |
          mkdir -p ./lighthouse
          echo "${{ github.event.number }}" >> ./lighthouse/pull-request-id
          echo "${{ steps.lhci.outputs.report_url }}" >> ./lighthouse/report-url
      - uses: actions/upload-artifact@v3
        with:
          name: lighthouse
          path: lighthouse/
